<!DOCTYPE html>
<html>
<head>

	<title>Night Studio Info Page</title>
	<script src="jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script>
		function goBack() {
			window.history.back();
			window.history.back();
		}
	</script>
</head>
<body>

	<img src="back-logo-black.png" onclick="goBack()">
	<p style="font-size: 200%;">&nbsp;</p>
	<p style="font-size: 200%;"><%= message %></p>

</body>
</html>